@model IEnumerable<RateMyClasses.Models.Report>

@{
    ViewData["Title"] = "Reported Reviews";
}

<h2>Hide Reviews</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.reviewID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.reportContent)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>         
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reviewID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reportContent)
            </td>
            <td>
                <a asp-action="Hide" asp-route-reviewID="@item.reviewID">Hide</a> |
                <a asp-action="Approve" asp-route-reviewID="@item.reviewID">Approve</a>
            </td>
        </tr>
}
    </tbody>
</table>
