@model IEnumerable<RateMyClasses.Models.Report>

@{
    ViewData["Title"] = "Reports";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.reviewID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.reportContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isHandled)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reviewID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reportContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isHandled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
