@{
    ViewData["Title"] = "Search";
}

@model IEnumerable<RateMyClasses.Models.Course>

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<table>
    <tr>
        <th width="100px;" align="left">
            name
        </th>
        <th width="200px" align="left">
            description
        </th>
        <th width="200px" align="left">
            course evaluation link
        </th>
        <th width="75px" align="left">
            department
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td width="75px;" align="left">@item.name</td>
            <td width="75px;" align="left">@item.description</td>
            <td width="75px;" align="left">@item.courseEvalLink</td>
            <td width="75px;" align="left">@item.department</td>
            <td width="75px;">
                <a asp-controller="Review" asp-action="Index" asp-route-id="@item.id">Reviews</a> |
           </td>
        </tr>
    }
</table>