@{
    ViewData["Title"] = "Search";
}

@model IEnumerable<RateMyClasses.Models.Course>

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>


<!-- Search by name -->

<form asp-controller="Search" asp-action="Index" method="get">
        <p> name: <input type="text" name="nameString" /> </p>
        <p> department: <input type="text" name="departmentString" /> </p>
        <p> description: <input type="text" name="descriptionString" /> </p>
        <p> <input type="submit" value="Go" /> </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.courseEvalLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.department)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseEvalLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department)
            </td>
            <td>
                <a asp-controller="Review" asp-action="Index" asp-route-id="@item.id">Reviews</a> 
           </td>
        </tr>
}
    </tbody>
</table>