@{
    ViewBag.Title = "Reviews";
}

@model IEnumerable<RateMyClasses.Models.Review>

<h2>@ViewData["Title"]</h2>
<p>@ViewData["Description"]</p>

<div> 
    <table class="table" id="reviewList">
       <thead> <tr>
            <th width="100px;" align="left">
                CourseId
            </th>
            <th width="550px" align="left">
                Description
            </th>
            <th width="55px" align="left">
                Score
            <th width="50px"</th>
        </tr>
            </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="75px;" align="left">@item.courseId</td>
                <td width="175px;" align="left">@item.description</td>
                <td width="75px;" align="left">@item.score</td>
                <td> <a asp-controller="Review" asp-action="Report" asp-route-reviewID="@item.id">Report </a> </td>
            </tr>
        }
       </tbody>
    </table>
</div>